<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>

<aside id="sidebar" class="sidebar" th:fragment="sidebar">
  <ul>
    <li><a th:href="@{/admin/dashboard}"><i class="fa-solid fa-gauge-high"></i> Dashboard</a></li>
    <li><a th:href="@{/admin/users/index}"><i class="fa-solid fa-users"></i> Quản lý người dùng</a></li>
    <li><a th:href="@{/admin/categories/index}"><i class="fa-solid fa-list"></i> Quản lý danh mục</a></li>
    <li><a th:href="@{/admin/accessauthor/index}"><i class="fa-solid fa-user-shield"></i> Phân quyền</a></li>
    <li><a th:href="@{/admin/documents/index}"><i class="fa-solid fa-folder-open"></i> Quản lý tài liệu</a></li>
    <li><a th:href="@{/admin/contact/index}"><i class="fa-solid fa-envelope-open-text"></i> Quản lý Feeback </a></li>
    <li><a th:href="@{/admin/report}"><i class="fa-solid fa-chart-pie"></i> Báo cáo & Thống kê</a></li>
  </ul>
</aside>



<script>
  function toggleSidebar() {
    document.getElementById('sidebar').classList.toggle('collapsed');
  }
</script>

</body>
</html>